@media (max-width: 450px) {
    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -5%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        left: -18%;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: white;
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 275px;
        height: 350px;
        box-shadow: 0 0 10px #332219ce;
        margin: -50px 0 0 -70px;
        padding-left: 55px;
        padding-top: 100px;
        background: url(img/bg_mob_menu.png);
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        list-style: none;
        padding: 10px 10px;
        transition-delay: 2s;
    }

    #menu li a {
        font-size: 15pt;
        text-decoration: none;
        color: #cdcdcd;
    }

    #menu li a:hover {
        color: white;
        border-bottom: 3px solid #f1cdb3;
        border-radius: 1px;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

    header {
        background: url(img/bg_mobile.png);
        position: static;
        margin-top: 0px;
        padding-top: 10px;
    }

    nav {
        background: url(img/bg_mobile.png);
        height: 65px;
    }

    .logo {
        font-size: 18pt;
        color: #f1cdb3;
    }

    .logo_text {
        font-size: 12pt;
        color: white;
        word-spacing: 8px;
    }

    .nav-menu_links {
        display: none;
    }

    .hello-section_bg {
        display: none;
    }

    .hello-section {
        background: url(img/bg_hello_mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        position: static;
    }

    .make-a-friend {
        width: 95%;
        position: static;
        margin: 0;
        padding-left: 4%;
        padding-top: 40%;
    }

    .make-a-friend span {
        display: inline-block;
        margin: 6%;
        color: white;
        font-size: 32pt;
    }

    .make-a-friend p br {
        display: none !important;
    }

    .make-a-friend p {
        font-size: 13pt;
        text-align: justify;
        color: white;
        word-wrap: normal;
    }

    .make-a-friend button {
        height: 58px;
        width: 250px;
        margin-top: 15%;
        margin-left: 15%;
        border-radius: 50px;
        border: none;
        background-color: #f1cdb3;
        font-size: 17pt;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .make-a-friend img {
        position: absolute;
        display: block;
        width: 385px;
        left: .3%;
        top: 77.1%;
    }

    .about-shelter {
        position: relative;
        padding-top: 5%;
        padding-bottom: 60%;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .about-shelter div span {
        font-size: 24pt;
        color: #545454;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .about-shelter img {
        position: absolute;
        width: 175px;
        right: 10%;
        top: 63.5%;
    }

    .slider-section {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .slider-section_title {
        font-size: 24pt;
        text-align: center;
        padding-bottom: 5%;
        margin-top: 3%;
        color: #545454;
    }

    .gallery {
        display: block;
    }

    .slider {
        display: none;
    }

    .gallery_elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider-element {
        display: flex;
        border: 1px solid #f1cdb3;
        justify-content: center;
        align-items: center;
        padding-right: 3%;
        padding-bottom: 1%;
        margin: 1%;
        width: 50%;
        text-align: center;
        box-shadow: 0 0 10px #332219ce;
    }

    .slider-element img {
        max-width: none;
        max-height: none;
    }

    .slider-element_bg {
        display: none;
    }

    .slider-element_button {
        font-size: 12pt;
        margin-left: 8%;
        margin-top: 3%;
        width: 150px;
        height: 35px;
        border: none;
        background: none;
        border-radius: 30px;
        text-align: center;
        border: 2px solid #f1cdb3;
    }

    .pet_name {
        font-size: 12pt;
        padding-top: 2%;
        z-index: 2;
        text-align: center;
    }

    .get-know-rest {
        width: 270px;
        height: 55px;
        margin-left: 16%;
        margin-top: 5%;
        border-radius: 50px;
        background: #f1cdb3;
        border: 2px solid #f1cdb3;
        font-size: 12pt;
    }

    .help-section {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .help-section_title {
        font-size: 24pt;
        text-align: center;
        color: #545454;
    }

    .help-section_icons {
        margin-top: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .icons_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .icons_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-left: 0;
    }

    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 0;
        margin-top: 20px;
    }

    .icon img {
        max-width: 50px;
        margin-bottom: 0;
    }
    .donation-section {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 50%;
    }
    .donation-section_info_title {
        color: #545454;
        font-size: 24pt;
        padding-bottom: 5%;
    }
    .donation-section_dog{
        position: absolute;
        top: 66%;
        left: 4%;
    }
    .donation-section_dog img{
        width: 350px;
    }
    footer {
        background: url(img/bg_hello_mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 370px;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    footer img {
        margin-right: 2%;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 1%;
    }
    
    .contacts_title {
        font-size: 15pt;
        color: white;
        margin-bottom: 23%;
    }
    .contacts div {
        display: flex;
        align-items: center;
        margin-top: -5%;
        margin-bottom: 20%;
        font-size: 12pt;
    }
    .adres_title {
        font-size: 15pt;
        color: white;
        margin-bottom: 12%;
    }
    .adres div {
        display: flex;
        align-items: center;
        white-space: normal;
        margin-bottom: 10%;
        font-size: 12pt;
    }
    .back-button{
        display: none;
    }
}

@media (max-width: 400px) {
    .make-a-friend img {
        position: absolute;
        display: block;
        right: 5%;
        width: 385px;
        top: 76.2%;
    }

    .about-shelter img {
        position: absolute;
        width: 175px;
        right: 10%;
        top: 62.5%;
    }
    .slider-element {
        display: flex;
        border: 1px solid #f1cdb3;
        justify-content: center;
        align-items: center;
        padding-right: 3%;
        padding-bottom: 1%;
        margin: 1%;
        width: 55%;
        text-align: center;
        box-shadow: 0 0 10px #332219ce;
    }
    .donation-section_dog{
        position: absolute;
        top: 64.8%;
        left: 4%;
    }
}
@media (max-width: 376px){
    .make-a-friend {
        width: 95%;
        position: static;
        margin: 0;
        padding-left: 4%;
        padding-top: 10%;
    }
    .make-a-friend img {
        position: absolute;
        display: block;
        right: 5%;
        width: 350px;
        top: 76.2%;
    }
    .hello-section{
        height: 91.2vh;
    }
    .about-shelter img {
        position: absolute;
        width: 175px;
        right: 10%;
        top: 65%;
    }
}